<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAPM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <YAPM.My.MySettings>
            <setting name="ProcessInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ServiceInterval" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="SystemInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TrayInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>102400</value>
            </setting>
            <setting name="WindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeSBA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRibbonStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewItemColor" serializeAs="String">
                <value>-8323328</value>
            </setting>
            <setting name="DeletedItemColor" serializeAs="String">
                <value>-49104</value>
            </setting>
            <setting name="CloseYAPMWithCloseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TaskInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NetworkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>http://www.google.com/search?hl=en&amp;q=ITEM</value>
            </setting>
            <setting name="WarnDangerousActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceTaskmgr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>Processes</value>
            </setting>
            <setting name="COLmain_task" serializeAs="String">
                <value>Name?540$CpuUsage?73$Process?233$</value>
            </setting>
            <setting name="COLmain_process" serializeAs="String">
                <value>Name?106$PID?50$UserName?124$ParentName?94$CpuUsage?68$AverageCpuUsage?61$TotalCpuTime?90$HandleCount?56$ThreadCount?50$WorkingSet?76$Priority?90$Path?420$</value>
            </setting>
            <setting name="COLmain_module" serializeAs="String">
                <value>Name?107$Version?113$Description?279$CompanyName?138$Path?330$ProcessId?60$</value>
            </setting>
            <setting name="COLmain_thread" serializeAs="String">
                <value>Id?60$Priority?88$State?74$WaitReason?98$CreateTime?173$TotalTime?90$StartAddress?83$AffinityMask?78$ContextSwitchCount?118$ContextSwitchDelta?114$ProcessId?68$</value>
            </setting>
            <setting name="COLmain_handle" serializeAs="String">
                <value>Type?113$Name?400$HandleCount?70$PointerCount?70$ObjectCount?70$Handle?60$Process?51$</value>
            </setting>
            <setting name="COLmain_window" serializeAs="String">
                <value>Id?84$Caption?368$Process?162$IsTask?49$Enabled?56$Visible?47$ThreadId?61$</value>
            </setting>
            <setting name="COLmain_service" serializeAs="String">
                <value>Name?112$DisplayName?144$State?77$StartType?86$ImagePath?230$ServiceType?113$Process?127$</value>
            </setting>
            <setting name="COLmain_network" serializeAs="String">
                <value>Local?328$Remote?271$Protocol?65$State?150$</value>
            </setting>
            <setting name="COLprocdetail_privilege" serializeAs="String">
                <value>Name?177$Status?100$Description?327$</value>
            </setting>
            <setting name="COLprocdetail_memory" serializeAs="String">
                <value>Name?173$Protection?66$Address?90$Size?66$File?223$</value>
            </setting>
            <setting name="COLprocdetail_service" serializeAs="String">
                <value>Name?121$DisplayName?243$State?79$StartType?70$ImagePath?250$ServiceType?100$</value>
            </setting>
            <setting name="COLprocdetail_network" serializeAs="String">
                <value>Local?238$Remote?223$Protocol?60$State?113$</value>
            </setting>
            <setting name="COLprocdetail_handle" serializeAs="String">
                <value>Type?95$Name?400$HandleCount?70$PointerCount?69$ObjectCount?66$Handle?52$</value>
            </setting>
            <setting name="COLprocdetail_window" serializeAs="String">
                <value>Id?96$Caption?325$IsTask?44$Enabled?64$Visible?51$ThreadId?63$</value>
            </setting>
            <setting name="COLprocdetail_thread" serializeAs="String">
                <value>Id?60$ContextSwitchDelta?118$Priority?100$State?70$WaitReason?100$CreateTime?119$TotalTime?200$StartAddress?100$ContextSwitchCount?200$</value>
            </setting>
            <setting name="COLprocdetail_module" serializeAs="String">
                <value>Name?90$Version?85$Description?210$CompanyName?150$Path?300$Address?80$</value>
            </setting>
            <setting name="COLprocdetail_envvariable" serializeAs="String">
                <value>Variable?176$Value?445$</value>
            </setting>
            <setting name="ProcSelectedTab" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="ServSelectedTab" serializeAs="String">
                <value>General - 1</value>
            </setting>
            <setting name="COLprocdetail_log" serializeAs="String">
                <value>Date &amp; Time?164$Type?102$Description?343$</value>
            </setting>
        </YAPM.My.MySettings>
    </userSettings>
</configuration>
