<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="ProcessInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ServiceInterval" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="SystemInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TrayInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>102400</value>
            </setting>
            <setting name="WindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeSBA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRibbonStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewItemColor" serializeAs="String">
                <value>-8323328</value>
            </setting>
            <setting name="DeletedItemColor" serializeAs="String">
                <value>-49104</value>
            </setting>
            <setting name="CloseYAPMWithCloseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TaskInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NetworkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>http://www.google.com/search?hl=en&amp;q=ITEM</value>
            </setting>
            <setting name="WarnDangerousActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceTaskmgr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>Processes</value>
            </setting>
            <setting name="ProcSelectedTab" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="ServSelectedTab" serializeAs="String">
                <value>General - 1</value>
            </setting>
            <setting name="AutomaticInternetInfos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingBeingDebugged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingElevated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingJobProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingOwnedProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingServiceProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingSystemProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingCriticalProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighlightingSuspendedThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightingColorBeingDebugged" serializeAs="String">
                <value>255, 192, 255</value>
            </setting>
            <setting name="HighlightingColorJobProcess" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="HighlightingColorOwnedProcess" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="HighlightingColorServiceProcess" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="HighlightingColorSystemProcess" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="HighlightingColorCriticalProcess" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="HighlightingColorSuspendedThread" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="HighlightingColorElevatedProcess" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="HighlightingPriorityBeingDebugged" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HighlightingPriorityJobProcess" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HighlightingPriorityOwnedProcess" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HighlightingPriorityServiceProcess" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HighlightingPrioritySystemProcess" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HighlightingPriorityCriticalProcess" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HighlightingPriorityElevatedProcess" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HighlightingPrioritySuspendedThread" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowUserGroupDomain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="COLmain_task" serializeAs="String">
                <value>Name?540?0?Left$CpuUsage?73?1?Right$Process?233?2?Left$</value>
            </setting>
            <setting name="COLmain_process" serializeAs="String">
                <value>Name?161?0?Left$PID?50?1?Left$UserName?78?2?Left$CpuUsage?68?3?Right$TotalCpuTime?90?5?Right$WorkingSet?76?6?Right$TotalIoDelta?71?4?Left$CommandLine?438?7?Left$</value>
            </setting>
            <setting name="COLmain_module" serializeAs="String">
                <value>Name?107?0$Version?113?1$Description?279?2$CompanyName?138?3$Path?330?4$ProcessId?60?5$</value>
            </setting>
            <setting name="COLmain_thread" serializeAs="String">
                <value>Id?60?0$Priority?88?1$State?74?2$WaitReason?98?3$CreateTime?173?4?Right$TotalTime?90?5?Right$StartAddress?83?6?Right$AffinityMask?78?7?Right$ContextSwitchCount?118?8?Right$ContextSwitchDelta?114?9?Right$ProcessId?68?10$</value>
            </setting>
            <setting name="COLmain_handle" serializeAs="String">
                <value>Type?113?0$Name?400?1$HandleCount?70??Right2$PointerCount?70?3?Right$ObjectCount?70?4?Right$Handle?60?5?Right$Process?51?6$</value>
            </setting>
            <setting name="COLmain_window" serializeAs="String">
                <value>Id?84?0$Caption?368?1$Process?162?2$IsTask?49?3$Enabled?56?4$Visible?47?5$ThreadId?61?6$</value>
            </setting>
            <setting name="COLmain_service" serializeAs="String">
                <value>Name?112?0$DisplayName?144?1$State?77?2$StartType?86?3$ImagePath?230?4$ServiceType?113?5$Process?127?6$</value>
            </setting>
            <setting name="COLmain_network" serializeAs="String">
                <value>Local?226?0$Remote?214?1$Protocol?65?2$State?99?3$LocalPortDescription?182?4$Process?100?5</value>
            </setting>
            <setting name="COLprocdetail_privilege" serializeAs="String">
                <value>Name?177?0$Status?100?1$Description?327?2$</value>
            </setting>
            <setting name="COLprocdetail_memory" serializeAs="String">
                <value>Name?173?0$Protection?66?1$Address?90?2?Right$Size?66?3?Right$File?223?4$</value>
            </setting>
            <setting name="COLprocdetail_service" serializeAs="String">
                <value>Name?121?0$DisplayName?243?1$State?79?2$StartType?70?3$ImagePath?250?4$ServiceType?100?5$</value>
            </setting>
            <setting name="COLprocdetail_network" serializeAs="String">
                <value>Local?214?0$Remote?214?1$Protocol?50?2$State?90?3$LocalPortDescription?140?4$</value>
            </setting>
            <setting name="COLprocdetail_handle" serializeAs="String">
                <value>Type?95?0$Name?400?1$HandleCount?70?2?Right$PointerCount?69?3?Right$ObjectCount?66?4?Right$Handle?52?5?Right$</value>
            </setting>
            <setting name="COLprocdetail_window" serializeAs="String">
                <value>Id?96?0$Caption?325?1$IsTask?44?2$Enabled?64?3$Visible?51?4$ThreadId?63?5$</value>
            </setting>
            <setting name="COLprocdetail_thread" serializeAs="String">
                <value>Id?60?0$ContextSwitchDelta?118?1?Right$Priority?100?2$State?70?3$WaitReason?100?4$CreateTime?119?5?Right$TotalTime?200?6?Right$StartAddress?100?7?Right$ContextSwitchCount?200?8?Right$</value>
            </setting>
            <setting name="COLprocdetail_module" serializeAs="String">
                <value>Name?90?0$Version?85?1$Description?210?2$CompanyName?150?3$Path?300?4$Address?80?5$</value>
            </setting>
            <setting name="COLprocdetail_envvariable" serializeAs="String">
                <value>Variable?176?0$Value?445?1$</value>
            </setting>
            <setting name="COLprocdetail_log" serializeAs="String">
                <value>Date &amp; Time?164?0$State?50?1$Type?102?2$Description?343?3$</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyNewProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyDeletedServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyNewServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyTerminatedProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightingColorRelocatedModule" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="EnableHighlightingRelocatedModule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JobInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="JobSelectedTab" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="AutomaticWintrust" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFindWindowDetailedForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeShowFindWindowWasClosed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFixedTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixedTab" serializeAs="String">
                <value>Tasks</value>
            </setting>
            <setting name="UpdateAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateServer" serializeAs="String">
                <value>http://yaprocmon.sourceforge.net/update.xml</value>
            </setting>
            <setting name="ShowClassicMessageBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteMachineName" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteMachineNameW" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteMachineUserW" serializeAs="String">
                <value />
            </setting>
            <setting name="CoefTimeMul" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="COLprocdetail_heaps" serializeAs="String">
                <value>Address?101?0$BlockCount?101?1$MemCommitted?117?2$MemAllocated?100?3$Flags?100?4$</value>
            </setting>
            <setting name="SystemInfoTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemInfoOneGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkInfoTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PSfrmMain" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="PSfrmNetworkInfo" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="PSfrmSystemInfo" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="PSfrmJobInfo" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="PSfrmServiceInfo" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="PSfrmProcessInfo" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="RememberPosAndSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PSfrmScripting" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="IconsInList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveErrorLog" serializeAs="String">
                <value>False</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
