<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAPM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <YAPM.My.MySettings>
            <setting name="ProcessInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ServiceInterval" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="SystemInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TrayInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>102400</value>
            </setting>
            <setting name="WindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeSBA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRibbonStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewItemColor" serializeAs="String">
                <value>-8323328</value>
            </setting>
            <setting name="DeletedItemColor" serializeAs="String">
                <value>-49104</value>
            </setting>
            <setting name="CloseYAPMWithCloseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TaskInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NetworkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>http://www.google.com/search?hl=en&amp;q=ITEM</value>
            </setting>
            <setting name="WarnDangerousActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceTaskmgr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>Processes</value>
            </setting>
        </YAPM.My.MySettings>
    </userSettings>
</configuration>
