<YAPM>
  <config>
    <procintervall>2500</procintervall>
    <serviceintervall>15000</serviceintervall>
    <startup>False</startup>
    <starthidden>False</starthidden>
    <lang>English</lang>
    <startjobs>True</startjobs>
    <startchkmodules>False</startchkmodules>
    <topmost>False</topmost>
    <firsttime>True</firsttime>
  </config>
</YAPM>